%a.btn.btn-default{href: new_document_path} Add New Document

%table
  %thead
    %tr
      %td ID
      %td Title
      %td Body Text
      %td Tag List
      %td Concept List
      %td Entity List
  %tbody
    - @documents.each do |document|
      %tr
        %td= document.id
        %td= link_to document.title, document_path(document)
        %td= document.body.truncate(150)
        %td
          - document.keywords.each do |k|
            = link_to k.text, keyword_path(k)
        %td
          %ul
            - document.concepts.each do |c|
              %li= c.text
        %td
          %ul
            - document.entities.each do |e|
              %li= "#{e.entity_type}: #{e.text}"
