%h3= @document.title
%span= "ID: #{@document.id}"
%a.btn.btn-default{href: edit_document_path(@document)} Edit Document

%h5 Keywords:
%ul
  - @document.keywords.each do |k|
    %li= link_to k.text, keyword_path(k)

%pre= @document.body
